<launch>
  <arg name="rviz" value="true"/>

  <include file="$(find assembly_robot_driver)/launch/rob1_robot_driver.launch">
    <arg name="robot_ip" value="192.168.13.101"/>
  </include>

  <include file="$(find assembly_robot_driver)/launch/rob2_robot_driver.launch">
    <arg name="robot_ip" value="192.168.13.100"/>
  </include>

<!--   <include file="$(find tuto_bringup)/launch/tutobot_gripper_bringup.launch"/> -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list">["/rob1/joint_states", "/rob2/joint_states"]</rosparam>
  </node>

  <include file="$(find assembly_robot_moveit_config)/launch/assembly_robot_moveit_planning_execution.launch">
  </include>

  <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
  args="-d $(find assembly_robot_moveit_config)/launch/moveit.rviz" output="screen">
    <rosparam command="load" file="$(find assembly_robot_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>