<?xml version="1.0"?>
<robot 
    xmlns:xacro="http://ros.org/wiki/xacro" name="dual_robot">
    <xacro:include filename="$(find assembly_robot_description)/urdf/rob1_robot_driver.urdf.xacro" />
    <xacro:include filename="$(find assembly_robot_description)/urdf/rob2_robot_driver.urdf.xacro" />
    <xacro:include filename="$(find assembly_robot_description)/urdf/table.urdf.xacro" />
    <!-- <xacro:include filename="$(find assembly_robot_description)/urdf/station.xacro" /> -->

    <link name="world"/>

    <joint name="world_table" type="fixed">
        <parent link="world" />
        <child link="table" />
        <origin xyz="00 0.0 0.8" rpy="0.0 0.0 0" />
    </joint>

    <joint name = "rob1_robot_body" type = "fixed">
        <parent link = "table"/>
        <child link = "rob1_world"/>
        <axis xyz = "0 0 0"/>
        <origin xyz = "0.096 0.750 0.01" rpy = "0 0 0"/>
    </joint>

    <joint name = "rob2_robot_body" type = "fixed">
        <parent link = "table"/>
        <child link = "rob2_world"/>
        <axis xyz = "0 0 0"/>
        <origin xyz = "0.10 -0.630 0.01" rpy = "0 0 ${M_PI}"/>
    </joint>

    <link name="camera_center_1"/>

    <joint name="basler_joint" type="fixed">
        <parent link="rob1_real_ee_link" />
        <child link="camera_center_1" />
        <origin xyz="0 0.05785 0.0721" rpy="1.5707 0 0" />
    </joint>

    <link name="camera_center_2"/>

    <joint name="basler_joint_2" type="fixed">
        <parent link="rob2_real_ee_link" />
        <child link="camera_center_2" />
        <origin xyz="0 0.05785 0.0721" rpy="1.5707 0 0" />
    </joint>

    <link name="screw_tool_link"/>

    <joint name="screw_tool_joint" type="fixed">
        <parent link="rob1_real_ee_link" />
        <child link="screw_tool_link" />
        <origin xyz="0 0.1115 0.144" rpy="-1.5707 -1.5707 0" />
    </joint>

    <!-- <joint name="station_joint" type="fixed">
        <parent link="table"/>
        <child link="station_base_link"/>
        <origin xyz="0.825 0 -0.455" rpy="0 0 3.14"/>
    </joint> -->

</robot>
