<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="104322.SLDPRT">
  <link
    name="104322.SLDPRT">
    <inertial>
      <origin
        xyz="-8.2475E-20 7.5239E-20 0.028536"
        rpy="0 -1.5707963267949 0" />
      <mass
        value="0.0017863" />
      <inertia
        ixx="9.8797E-09"
        ixy="1.3179E-19"
        ixz="-1.3179E-19"
        iyy="5.862E-07"
        iyz="-2.29159999999999E-25"
        izz="5.862E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 -1.5707963267949 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/104322.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://object_description/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 -1.5707963267949 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/104322.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
	<gazebo reference="104322.SLDPRT">
    <material>Gazebo/Black</material>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <maxVel>0</maxVel>
    <minDepth>0.00</minDepth>
  </gazebo>

</robot>
