<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="chair part1.SLDPRT">
  <link
    name="chair part1.SLDPRT">
    <inertial>
      <origin
        xyz="-3.8106E-18 -0.012314 0.005"
        rpy="-1.5707963267949 0 0" />
      <mass
        value="1.556" />
      <inertia
        ixx="0.021045"
        ixy="6.94829999999999E-20"
        ixz="1.2906E-18"
        iyy="0.040395"
        iyz="-1.33939704754963E-18"
        izz="0.019376" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/chair part1.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/chair part1.SLDPRT.STL" />
      </geometry>
      <surface>
      <contact>
          <ode>
            <kp>1.0E+15</kp>
            <kd>1.0E+13</kd>
          </ode>
        </contact>
      </surface>
    </collision>
  </link>
  <gazebo reference="chair part1.SLDPRT">
    <material>Gazebo/White</material>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <maxVel>0</maxVel>
    <minDepth>0.00</minDepth>
  </gazebo>
</robot>
