<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="chair part4.SLDPRT">
  <link
    name="chair part4.SLDPRT">
    <inertial>
      <origin
        xyz="-2.8401E-17 0.16597 0.011087 "
        rpy="-1.5707963267949 0 0" />
      <mass
        value="0.58715" />
      <inertia
        ixx="0.009627"
        ixy="2.9722E-16"
        ixz="1.86640000000002E-18"
        iyy="0.012399"
        iyz="3.19519999999941E-06"
        izz="0.0028006" />
    </inertial>
    <visual>
      <origin
        xyz="0 0.295 0.006087"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/chair part4.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://object_description/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.295 0.006087"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://object_description/chair_meshes/chair part4.SLDPRT.STL" />
      </geometry>
      <surface>
      <contact>
          <ode>
            <kp>1.0E+15</kp>
            <kd>1.0E+13</kd>
          </ode>
        </contact>
      </surface>
    </collision>
  </link>
  <gazebo reference="chair part4.SLDPRT">
    <material>Gazebo/White</material>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <maxVel>0</maxVel>
    <minDepth>0.000</minDepth>
  </gazebo>
</robot>
