<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="hole_definition" params="link_name 
												length radius 
												x y z rx ry rz 
												parent">
		<link name="${link_name}">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder length="${length}" radius="${radius}"/>
				</geometry>
			</visual>
		</link>

		<joint name="${link_name} joint" type="fixed">
			<origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${rz}"/>
			<parent link="${parent}"/>
			<child link="${link_name}"/>
		</joint>

		<gazebo reference="${link_name}">
			<material>Gazebo/BlueTransparent</material>
		</gazebo>
	</xacro:macro>


	<xacro:macro name="shaft_definition" params="link_name 
												length radius 
												x y z rx ry rz 
												parent">
		<link name="${link_name}">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<cylinder length="${length}" radius="${radius}"/>
				</geometry>
			</visual>
		</link>

		<joint name="${link_name} joint" type="fixed">
			<origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${rz}"/>
			<parent link="${parent}"/>
			<child link="${link_name}"/>
		</joint>

		<gazebo reference="${link_name}">
			<material>Gazebo/RedTransparent</material>
		</gazebo>
	</xacro:macro>
	

	<xacro:macro name="surface_definition" params="link_name
												   box_x box_y box_z
												   x y z rx ry rz
												   parent">
		<link name="${link_name}">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="${box_x} ${box_y} ${box_z}"/>
				</geometry>
			</visual>
		</link>

		<joint name="${link_name} joint" type="fixed">
			<origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${rz}"/>
			<parent link="${parent}"/>
			<child link="${link_name}"/>
		</joint>

		<gazebo reference="${link_name}">
			<material>Gazebo/GreenTransparent</material>
		</gazebo>
	</xacro:macro>


</robot>