<?xml version="1.0"?>
<launch>
  <include file="$(find assembly_robot_description)/launch/rob1_upload.launch"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="false"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find assembly_robot_description)/cofig/view_robot.rviz" />
</launch>